*~
*.o
*.la
*.a
.deps
autom4te.cache
*.log
tags
tests/tags
tests/tests
tests/*.o
src/*.o
src/dispensary
src/*.a
temp
cscope.out
# Object files
*.ko

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
